* {
  margin: 0px;
  padding: 0px;
}

body {
  background: lightgoldenrodyellow;
}
.container {
  text-align: center;
  margin-top: 10px;
  margin-left: 50px;
  
}
.gamearea-wrapper {
  overflow: hidden;
  position: relative;
  /* height: 600px;
  width: 400px; */
}
.road {
  background-image: url("../Images/road.png");
  background-size: 100%, 100%;
  background-repeat: repeat-y;
  height: 600px;
  width: 400px;
}
.police-car {
  background-image: url("../Images/police.gif");
  background-size: 100%, 100%;
  position: absolute;
  height: 212px;
  width: 98px;
  transition: left 0.5s,transform 0.5s;
  
}
.car {
  position: absolute;
 
  /* transform: rotate('180deg'); */
}
.scroeWrapper{
    position: absolute;
    top:10px;
    color: white;
    font-size: 20px;

}
.after-game-Over {

  font: 30px sans-serif;
  text-align: center;
  margin: auto;
  height: 600px;
  width: 400px;
  background-color: #e7e7e7;
  padding-top: 200px;
  position: absolute;
  transition: top 2s;
  top:600px; 

}

.btn{
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.firebefor{

  position: absolute;
  

}